.contact-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    .contact-email,
    .contact-linkedin {
        margin-right: 20px;
    }
    a {
        color: black;
        text-decoration: none;
    }
}