.intro_container {
    padding-top: 30px;
    .paras {
        font-family: 'proxima-nova';
        letter-spacing: 1.5px;
        margin-bottom: 7px;
        font-size: 18px;
        color: #3a3838;
    }
}