<div class="container">
    <div class="project-container">
        <div class="project-title">Web applications based on react</div>
        <figure>
        <a target="_blank" href="https://changlyu.github.io/reactproject/">
        <img src="assets/img/react.png">
        </a>
        </figure>
        
    </div>

    <div class="project-container">
        <div class="project-title">A old web project collections</div>
        <figure>
        <a target="_blank" href="https://changlyu.github.io/oldtechwebsite/">
        <img src="assets/img/oldwebsite.png">
        </a>
        </figure>        
    </div>
</div>